:root {
  //COLORS
  --color-blue-dark: #4d96a9;
  --color-blue-light: #8fe3f9;
  --color-purple-dark: hsl(268, 34%, 53%);
  --color-purple-light: hsl(268, 100%, 86%);

  --color-black: hsl(240, 21%, 20%);
  --color-grey: #87879d;
  --color-grey-light: #87879d4c;
  --color-white: hsl(0, 0%, 98%);
}

$bp-tablet: 768px;

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Red Hat Display", sans-serif;
  font-size: 1.6rem;
  line-height: 1.7rem;
  font-weight: 500;
  color: var(--color-grey);
  margin: 0 auto;

  display: flex;
  flex-direction: column;
}
